.imageTitle {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.score {
  text-align: right;
}

.content {
  text-align: left;
}

.cardContainer:hover {
  border: 4px solid lightblue;
}

.fadedCard {
  opacity: 15%;
}

.imageCard {
  width: 50%;
}

.notification {
  visibility: visible;
}

.alert {
  text-align: center;
}

.progress {
  margin-top: 2em;
  height: 40px;
}

.trophy {
  background: white;
  color: gold;
  font-size: 40px;
  margin-top: .3em;
}

@media (max-width: 1150px) {
  .imageTitle {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
@media (max-width: 768px) {
  .content {
    max-width: 50%;
  }
}

@media (max-width: 1200px) {
  .content {
    max-width: 40%;
  }
}
