.content {
  text-align: left;
}

@media (max-width: 768px) {
  .content {
    max-width: 50%;
  }
}

@media (max-width: 1200px) {
  .content {
    max-width: 40%;
  }
}

@media (max-width: 1920px) {
  .content {
    max-width: 30%;
  }
}
